h1 {
    font-family: 'Smokum', cursive;
    font-size: 3em;
    color: red;
}
p{
    font-family: 'Smokum', cursive;
    font-size: 2em;
    color: blue; 
}
.whatsap{
    width:60px;
    bottom:25px;
    right:25px;
    border-radius:50px;
    text-align:center;
}
.whatsap img{
    width: 50px;
}

.facebook{
    width:60px;
    bottom:25px;
    right:25px;
    border-radius:50px;
    text-align:center;
}
.facebook img{
    width: 50px;
}

.instagram{
    width:60px;
    bottom:25px;
    right:25px;
    border-radius:50px;
    text-align:center;
    
}
.instagram img{
    width: 50px;
}

.redes{
    position: fixed;
    bottom: 0;
    right: 0;
    /*
    display: flex;
    justify-content: end;
    align-self: end;*/
}