h1 {
    font-family: 'Smokum', cursive;
    font-size: 3em;
    color: red;
}
p{
    font-family: 'Smokum', cursive;
    font-size: 2em;
    color: blue; 
}
.red{
    text-align:center;
}
.red img{
    width: 50px;
}

.redes{
    position: fixed;
    bottom: 15px;
    right: 10px;
    /*
    display: flex;
    justify-content: end;
    align-self: end;*/
}