.Inicio p{ /*Es para cambiar el color de una clase */
    color: red;
}

#Ini{ /* Es para cambiar el color de un id con cierto nombre*/
    color: blue;
}

[hola="sii"]{ /*Es para cambiar a un atributo*/
    color: chocolate;
}

article section h2{/*Es para seleccionar por decendientes*/
    color:darkgreen;
}

.Inicio #l1{ /* es para seleccionar un id que esta adentro de una clase*/
    color:blueviolet;
}

.p1__list--li{
    color:burlywood ;
    font-size: 2em; /*tamaño de la letra*/
    font-family: Georgia;/*Tipografdia de la letra*/
    line-height: 1.9;/* Es el tamaño de la letra partiendo desde la mitad (el numero que pongas es mitad para arriba mitad para abajo)*/
    font-weight: normal;/*Es el grosor de la letra puede varirar segun el tipo de letra que 1 haya elegido*/
}

.hola__section{
    font-size: 25px;
}
.hola__section--h2{
    font-size: 5em; /*El em toma como valor los pixeles que se le asigna a la divicion  de arriba*/
    background-color: blue; /*la parte de atras toma este color*/
    width: 50vw; /*ES el porcentaje que va a ser cambiado de atras (horizontal)*/
    height: 50vh;/*ES el porcentaje que va a ser cambiado de atras (vertical)*/
}